.login-content {
  --background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.login-card {
  background-color: #1797A6;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 30px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 25px;
}

ion-item {
  --background: transparent;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  --color: #ffffff;
  border: none;
}

ion-item.input-item {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-inline: 0; // elimina relleno lateral
}


ion-button {
  width: 100%;
  font-size: 18px;
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 8px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ion-button {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
color: #000000;
  &::part(native) {
    width: 100% !important;
    display: block;
  }
}

.login-button {
  --background: #007bff;
  --color: #ffffff;
  --border-radius: 10px;
  margin-top: 16px;
}

.register-button {
  --background: transparent;
  --color: #ffffff;
  --border-radius: 10px;
  --border: 2px solid #ffffff;
  margin-top: 8px;

  &::part(native) {
    border: 2px solid white !important;
  }
}
ion-input::part(native) {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  ion-input::part(native) {
    font-size: 15px;
    padding: 8px;
  }

  ion-item.input-item {
    margin-inline: 0;
    padding-inline: 0;
  }
}
