<header class="navbar-container">
  <div class="navbar">
    <ul class="nav-links">
       <li><a routerLink="/dashboard" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/test" routerLinkActive="active">Pulso</a></li>
      <li><a routerLink="/iot" routerLinkActive="active">IOT</a></li>
      <li><a routerLink="/graficas" routerLinkActive="active">Información</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>

    <div class="auth-buttons">
      <button class="btn-login"  routerLink="/login">Logout</button>
      
    </div>
  </div>
</header>

<div class="ip-box">
  <strong>ESP32 IP:</strong> {{ espIp || 'Esperando conexión...' }}
</div>

<canvas
  baseChart
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType">
</canvas>
