canvas {
  max-width: 100%;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,255,198,0.3);
}

.ip-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  color: #00ffc6;
  font-family: monospace;
}
