<ion-content fullscreen>
  <div class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/dashboard" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/test" routerLinkActive="active">Pulso</a></li>
      <li><a routerLink="/iot" routerLinkActive="active">IOT</a></li>
      <li><a routerLink="/graficas" routerLinkActive="active">Información</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
<div class="auth-buttons">
      <button class="btn-login">Logout</button>
    </div>
  </div>

  <div class="inicio-container">
    <div class="titulo-section">
      <h1 class="titulo">Pulsense</h1>
      <p class="subtitulo">Monitoreo inteligente de señales biométricas</p>
    </div>
  </div>

  <div class="footer">
    <p>© 2024 Pulsense. Todos los derechos reservados.</p>
  </div>
</ion-content>
