<header class="navbar-container">
  <div class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/dashboard/graficas" routerLinkActive="active">Pulso</a></li>
      <li><a routerLink="/dashboard/iot" routerLinkActive="active">IOT</a></li>
      <li><a routerLink="/dashboard/tecnico" routerLinkActive="active">Información</a></li>
      <li><a routerLink="/dashboard/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>

    <div class="auth-buttons">
      <button class="btn-login">Login</button>
      <button class="btn-signup">Sign Up</button>
    </div>
  </div>
</header>

<main class="overlay">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© 2024 HealthSync. Todos los derechos reservados.</p>
</footer>
